# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
/M5Stack/
/esp32_camera_web_server/
/mlx90640/
/web_server/
/web_server_base/

