# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
/camera_text1.yaml
/M5Stack/
/components/esp32_camera_web_server/
/components/mlx90640/
/components/web_server/
/components/web_server_base/

